<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go course example</title>
</head>
<body>
    <form action="" id="search-form" onsubmit="return false">
        <input name="search">
        <input type="submit" value="Search" onclick="submitSerach()">
    </form>
    <table style="width:100%">
        <thead>
            <tr style="text-align: left;">
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody id="search-results">

        </tbody>
    </table>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function submitSerach() {
            $.ajax({
                url: "/search",
                method: "POST",
                data: $("#search-form").serialize(),
                success: function (rawData) {
                    let parsed = JSON.parse(rawData)
                    if (!parsed) return;
                    var searchResults = $("#search-results")
                    searchResults.empty()
                    parsed.forEach(function (result) {
                        var row = $("<tr><td>" + result.Title + "</td><td>" + result.Author + "</td><td>" + result.Year + "</td><td>" + result.ID + "</td></tr>");
                        searchResults.append(row);
                        row.on("click", function () {
                            $.ajax({
                                url: "/books/add?id=" + result.ID,
                                method: "GET"
                            })
                        })
                    });

                }
            })


            return false
        }

    </script>
</body>
</html>